    .title {
      background-color: #fff;
      text-align: center;
      font-size: 30px;
      color: #000;
      width: 450px;
      margin: auto;
    }

    .nav-button, button.nav-button {
      background-color: #dedede;
      padding: 5px;
    }

    .nav-table, table.nav-table {
      margin: auto;
    }

    .plain-link, a.plain-link {
      text-decoration: none;
      color: #000;
    }

    .content {
      background-color: #fff;
      color: #000;
      border: none;
      border-radius: 5px;
      margin: auto;
      text-align: center;
      padding: 5px;
    }

    .spacer1000 {
      height: 1000px;
    } .spacer500 {
      height: 500px;
    }.spacer300 {
      height: 300px;
    } .spacer250 {
      height: 250px;
    } .spacer200 {
      height: 200px;
    } .spacer100 {
      height: 100px;
    } .spacer50 {
      height: 50px;
    } .spacer25 {
      height: 25px;
    }

    .null, td.null {
      opacity: 0;
    }
